* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*container-app*/

.container-app {
  position: relative;
}

/*box*/

.box {
  display: flex;
  justify-content: space-between;
}

/*box-logo*/

.box-logo {
  width: 100%;
  height: 127.13px;
  top: 151px;
  left: 143px;
  position: absolute;
  top: 151px;
  left: 143px;
}

/* #name */

#name {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400px;
  line-height: 15.23px;
  color: #969696;
  padding-inline: 2% 10%;
}

/* #password */

#password {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.23px;
  color: #969696;
  top: 463px;
  left: 65.42px;
  padding-inline: 2% 10%;
}

/* box-name */

.box-name {
  width: 321px;
  height: 46px;
  margin-top: 381px;
  margin-left: 46px;
  border-radius: 10px;
  background-color: #f6f6f6;
  box-shadow: -4px 4px 5px 0px #00000017;
  border: none;
}

/* box-password */

.box-password {
  width: 321px;
  height: 46px;
  margin-top: 15px;
  margin-left: 45px;
  border-radius: 10px;
  background-color: #f6f6f6;
  box-shadow: -4px 4px 5px 0px #00000017;
  border: none;
}

/* forgot */

.forgot {
  width: 102px;
  height: 16px;
  margin-top: 8%;
  margin-left: 60%;
}

/* h1 */

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.23px;
  color: #000000;
}

/* btn-login */
.btn-login {
  width: 133px;
  height: 46px;
  margin-top: 10%;
  margin-left: 30%;
  border-radius: 10px;
  background: #323232;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 17.58px;
  box-shadow: -4px 4px 18px 0px #00000017;
  cursor: pointer;
}

/* h2 */

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 17.58px;
  color: #969696;
  margin-left: 13%;
  margin-top: 6%;
}

/* color-sign */

.color-sign {
  color: #323232;
  font-weight: 500;
}
/* p */

p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 21.09px;
  text-align: center;
  margin-top: 13%;
}

/* group-icones */

.group-icones {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

@media screen and (min-width: 1024px) {
  #input-12 {
    text-align: center;
  }

  .box-logo {
    position: absolute;
    margin-left: 35%;
  }

  .forgot {
    margin-top: 3%;
    margin-left: 67%;
  }

  h1 {
    font-size: 100%;
    font-weight: 600;
  }

  .btn-login {
    width: 12rem;
    height: 4rem;
    margin-left: 45%;
    font-size: 1.7rem;
  }

  .btn-login:hover {
    background-color: rgb(0, 0, 139);
  }

  h2 {
    margin-left: 35%;
    font-size: 2rem;
  }

  .color-sign {
    font-size: 2rem;
    font-weight: 700;
  }
  .color-sign:hover {
    color: rgb(0, 0, 139);
    cursor: pointer;
  }

  p {
    text-align: center;
    margin-top: 10%;
    margin-left: 5%;
    font-size: 2rem;
    font-weight: 900;
  }

  .group-icones{
   margin-top: 6%;
   margin-bottom: 10%;
   margin-left: 5%;
   
  }
  
}
